# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
.flattened-pom.xml

# IDE
.idea/
.vscode/
*.swp
*.swo
*.iml
*.iws
*.ipr
*.class
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Build
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Gradle
.gradle/
build/

# Log
*.log

# Misc
.classpath
.project
.settings/
*.sublime-project
*.sublime-workspace
